*{
	margin: 0px;
	padding: 0px;
	font-family: Monaco, monospace;
}

body{
	background: whitesmoke;
}

h1{
	text-align: center;
	padding: 10px;
}

#navbar{
	display: block;
	text-align: center;
	background: rgb(191,207,255);
	background: linear-gradient(180deg, rgba(191,207,255,1) 0%, rgba(119,140,255,1) 100%);
	width: 600px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

	#navbar a{
		text-decoration: none;
		padding: 0px 15px 0px 15px;
		font-size: 1.1em;
	}

	#navbar a:hover{
		color: white;
	}

#searchBar{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

#listOfGames, #gameInfo{
	border: 2px double grey;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: auto;
	text-align: center;
	background: white;
	border-radius: 10px;
	padding: 5px;

}
	#listOfGames ul li, #gameInfo ul li{
		list-style: none;
		padding: 5px;
		
	}

	#listOfGames ul li a{
		text-decoration: none;
		
	}

#game_genre{
	border: 2px double grey;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: auto;
	text-align: center;
	background: white;
	border-radius: 10px;
	padding: 5px;
}

	#game_genre ul li{
		list-style: none;
		padding: 5px;
	}

	#game_genre ul li a{
		text-decoration: none;
	}

#admin{
	border: 2px double grey;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: auto;
	text-align: center;
	background: white;
	border-radius: 10px;
	padding: 5px;
}

	#admin h3{
		padding-bottom: 10px;
	}

	#admin ul li{
		list-style: none;
		padding: 5px;
	}

#reviews{
	border: 2px double grey;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: auto;
	text-align: center;
	background: white;
	border-radius: 10px;
	padding: 5px;
}

	#reviews ul li{
		list-style: none;
		padding: 5px;
	}

	#reviews h3{
		padding-top: 10px;
	}

	#reviews form{
		padding: 5px;
	}

