*{
	margin: 0px;
	padding: 0px;
	font-family: Verdana, sans-serif;
}

body{
	background: whitesmoke;
}

h1{
	text-align: center;
	padding: 10px;
}

#navbar{
	display: block;
	text-align: center;
	background: rgb(191,207,255);
	background: linear-gradient(180deg, rgba(191,207,255,1) 0%, rgba(119,140,255,1) 100%);
	width: 650px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

	#navbar a{
		text-decoration: none;
		padding: 0px 15px 0px 15px;
		font-size: 1.1em;
	}

	#navbar a:hover{
		color: white;
	}

#searchBar{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

#listOfGames, #gameInfo, #newGenre, #newGameForm, #edit, #results, #fullGenres, #login, #account{
	border: 2px double grey;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: auto;
	text-align: center;
	background: white;
	border-radius: 10px;
	padding: 5px;
}

	#gameInfo span{
		font-weight: bold;
	}

	#listOfGames ul li, #gameInfo ul li, #fullGenres ul li{
		list-style: none;
		padding: 5px;
		
	}

	#listOfGames ul li a, #fullGenres ul li a{
		text-decoration: none;
		
	}

#plot{
	vertical-align: middle;
}

.image{
	border: 1px double grey;
	border-radius: 10px;
	width: 450px;
	padding: 5px;
	line-height: 1.8em;
	margin-right: auto;
	margin-left: auto;
	background: #E9EDF4;
}

	.image p{
		font-size: 0.9em;
		font-style: italic;
		text-decoration: underline;
	}

#game_genre{
	border: 2px double grey;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: auto;
	text-align: center;
	background: white;
	border-radius: 10px;
	padding: 5px;
}

	#game_genre ul li{
		list-style: none;
		padding: 5px;
	}

	#game_genre ul li a{
		text-decoration: none;
	}

	#game_genre p a{
		text-decoration: none;
	}

#admin{
	border: 2px double grey;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: auto;
	text-align: center;
	background: white;
	border-radius: 10px;
	padding: 5px;
}

	#admin h3{
		padding-bottom: 10px;
	}

	#admin ul li{
		list-style: none;
		padding: 5px;
	}

	#admin ul li a{
		text-decoration: none;
	}

	#admin p a{
		text-decoration: none;
	}

	#admin span{
		color: #e30202;
	}

	#admin a:hover{
		color: #9657c9;
	}

#reviews{
	border: 2px double grey;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: auto;
	text-align: center;
	background: white;
	border-radius: 10px;
	padding: 5px;
}

	#reviews ul li{
		list-style: none;
		padding: 5px;
	}

	#reviews a{
		text-decoration: none;
	}

	#reviews h3{
		padding-top: 10px;
	}

	#reviews form{
		padding: 15px 5px 5px 10px;
		width: 450px;
		margin-left: auto;
		margin-right: auto;
	}
	#reviews span{
		font-weight: bold;
	}

	#reviews a:hover{
		color: #9657c9;
	}

#review{
	vertical-align: middle;
}

#comment{
	vertical-align: middle;
}

.container{
	padding: 5px;
	line-height: 2.5em;
}

#captcha{
	text-decoration: line-through;
	background: #5e7cff;
	color: white;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.8em;
	font-style: italic;
	border-radius: 10px;
}

#errCaptcha{
	color: red;
}

#account p{
	font-size: 0.8em;
	color: red;
}

#logout{
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	padding-bottom: 10px;
	text-align: center;
	
}
	#logout a{
		text-decoration: none;
		font-style: bold;
	}

	#logout a:hover{
		color: orange;
	}

